/* ---------- Calc ---------- */

.calc,
.calc__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.calc {
  position: relative;
	justify-content: space-between;
  padding: 3em 1.25em 1.25em;
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: .25rem;
  box-shadow: 0 0 20px rgba(00,00,00,0.35);
}

.calc__section {
  flex-direction: column;
  width: calc(50% - .625em);

  &.action {
    justify-content: center;
    width: 100%;
    padding-top: 1.25em;
  }
}

.input {
  -webkit-appearance: none;
  width: 100%;
  height: 3em;
	margin: 0.3125em 0;
  line-height: 3;
  text-align: center;
	color: var(--blue);
  border: 1px solid var(--grey-light);
  border-radius: .25rem;

  &.input--height {
    color: var(--white);
    background-color: var(--blue);
    border-color: #526670;
  }
}

/* ---------- Alert ---------- */

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25em;
  margin-top: 1.5em;
  font-size: .75em;
  border-radius: .25rem;

  &.alert-danger {
    color: var(--red-medium);
    border: 1px solid var(--red-medium);
  }
}

.close-alert {
  position: relative;
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  color: var(--red-medium);
  background: none;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: var(--red-medium);
  }

  &::before {
    width: 16px;
    height: 1px;
    left: 0;
  }

  &::after {
    top: 0;
    width: 1px;
    height: 16px;

  }
}

/* ---------- Transition ---------- */

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .4s, transform .5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}