/* ---------- Consigne ---------- */
.consignes {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
  transform: translateY(-210px);
  height: 210px;
  padding: 1em;
  color: #ccc;
  background-color: #141414;
	will-change: transform;
  transition: transform .4s;
}

.consignes.is-down {
  transform: translateY(0);
}

.consignes h3 {
  margin-top: 0;
}

.consignes li + li {
  margin-top: 0.625em;
}

.consignes a {
  color: currentColor;
  text-decoration: underline;
  transition: opacity .4s;
}

.consignes a:hover {
  opacity: .6;
}

.btn-consignes {
  position: fixed;
  top: 210px;
  right: 0;
  padding: .625em 1em .5em 1em;
  color: currentColor;
  background-color: #78909C;
  border-radius: 0;
  border-bottom-left-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: background-color .4s;
}

.btn-consignes:hover,
.btn-consignes.is-down{
  background-color: #141414;
}

.btn-consignes svg {
  display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin-top: -4px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	will-change: transform;
  transition: transform .4s;
}

.btn-consignes.is-down svg {
  transform: rotate(180deg);
}

/* ---------- Content ---------- */
.content {
	will-change: transform;
  transition: transform .4s;
}

.content.is-down {
  transform: translateY(210px);
}
