/* ---------- Consigne ---------- */
.consignes {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
  transform: translateY(-200px);
  height: 200px;
  padding: 1em;
  color: #ccc;
  background-color: #141414;
  transition: transform .4s;
}

.consignes.is-down {
  transform: translateY(0);
}

.consignes h2 {
  margin-top: 0;
}

.consignes li + li {
  margin-top: 0.625em;
}

.consignes a {
  color: currentColor;
  text-decoration: underline;
  transition: opacity .4s;
}

.consignes a:hover {
  opacity: .6;
}

.btn-consignes {
  position: fixed;
  top: 200px;
  right: 0;
  padding: .425em 1em .65em 1em;
  color: currentColor;
  background-color: #78909C;
  border-radius: 0;
  border-bottom-left-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: background-color .4s;
}

.btn-consignes:hover,
.consignes.is-down .btn-consignes {
  background-color: #141414;
}