/* ---------- Consigne ---------- */
.consignes {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
  transform: translateY(-200px);
  height: 200px;
  padding: 1em;
  color: #ccc;
  background-color: #141414;
  transition: transform .4s;

  &.visible {
    transform: translateY(0);
  }

  h2 {
    margin-top: 0;
  }

  li + li {
    margin-top: 0.625em;
  }

  a {
    color: currentColor;
    text-decoration: underline;
    transition: opacity .4s;

    &:hover {
      opacity: .6;
    }
  }
}

.btn-consignes {
  position: fixed;
  top: 200px;
  right: 0;
  padding: .425em 1em .65em 1em;
  color: currentColor;
  background-color: #78909C;
  border-radius: 0;
  border-bottom-left-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: background-color .4s;

  [class*="icon-"] {
    display: block;
    transform: scaleY(-1);
    transition: transform .4s;
    pointer-events: none;
  }

  :hover,
  &.visible {
    background-color: #141414;
  }

  &.visible {

    [class*="icon-"] {
      transform: scaleX(1);
    }
  }
}

.content {
  transition: transform .4s;

  &.visible {
    transform: translateY(200px);
  }
}