/* Variablles */

$-c-white: #fff;
$-c-blue: #78909c;
$-c-grey-light: #e5e5e5;
$-c-red-medium: #e57373;

/* ---------- Content ---------- */

.calc,
.calc__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.calc {
  position: relative;
	justify-content: space-between;
  padding: 3em 1.25em 1.25em;
  color: $-c-blue;
  background-color: $-c-white;
  border-radius: .25rem;

  &__section {
    flex-direction: column;
    width: calc(50% - .625em);

    &.action {
      justify-content: center;
      width: 100%;
      padding-top: 1.25em;
    }
  }

  .input {
    -webkit-appearance: none;
    width: 100%;
    height: 2.5em;
    margin: 0.3125em 0;
    font-size: 1.125em;
    text-align: center;
    color: $-c-blue;
    border: 1px solid $-c-grey-light;
    border-radius: .25rem;

    &.input--height {
      background-color: #f2f2f2;
    }

    &.error {
      border-color: $-c-red-medium;
      color: $-c-red-medium;

    }
  }
}

/* ---------- Check ---------- */

.check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
	justify-content: center;
  margin-bottom: 2em;

  &__title {
    display: flex;
    align-items: center;
    margin: .625em;
    line-height: 1;

    > span {
      margin-left: .625em;
    }
  }

  &__content {
    display: flex;
    width: 18.75rem;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 33.3333%;

    &:nth-child(1) label {
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em;
      border-right-width: 1px;
    }

    &:nth-child(2) label {
      border-right: 0;
      border-left: 0;
    }

    &:last-child label {
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
    }
  }

  // Label
  label {
    width: 100%;
    font-size: 1.125em;
    padding: .3125em .75em;
    text-align: center;
    border: 1px solid $-c-white;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      color: $-c-blue;
      background: $-c-white;
    }
  }

  // Radio
  .check-radio {
    display: none;

    &:checked + label {
      color: $-c-blue;
      background-color: $-c-white;
      cursor: auto;
    }
  }
}



/* ---------- Transition ---------- */

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .4s, transform .5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}