/* ---------- Footer ---------- */
footer {
  width: 18.75rem;
  padding-top: 2em;
  margin: 1em auto;
  font-size: 0.875em;
  text-align: center;
}

footer div + div {
  margin-top: 1em;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color .4s;
}

footer a:hover {
  color: #03A9F4;
}

footer [class^="icon-"], 
footer [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}

footer .me {
  height: 17px;;
}

footer .icon-heart {
  font-size: .75em;
}

@media only screen and (min-width: 768px) {
	footer {
		display: flex;
    justify-content: space-between;
		align-items: center;
		margin: 2em auto;
	}
  footer div + div {
    margin-top: 0;
  }
}