:root {
  --contianer-width: 64em;
  --white: #fff;
  --blue: #78909C;
  --red-light: #ffebee;
  --red-medium:#e57373;
  --red: #c62828;
  --grey-light: #e5e5e5;
}

/* Small reset */
*,*:before,*:after {
  box-sizing:border-box;
}

/* Icomoon font */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uwmnic');
  src:  url('../fonts/icomoon.eot?uwmnic#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uwmnic') format('truetype'),
    url('../fonts/icomoon.woff?uwmnic') format('woff'),
    url('../fonts/icomoon.svg?uwmnic#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-github:before {
  content: "\eab0";
}

/**/

body {
	min-height: 100vh;
	padding-left: .625em;
	padding-right: .625em;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
  font-size: 100%;
  color: var(--white);
  background-image: linear-gradient(to top right, rgba(117,221,255,.6), rgba(120,144,156,.8)), url(../images/bg-screenRatio.png);
	background-position: 0 0;
	background-attachment: fixed;
	background-size: auto;
}

/* ---------- Buttons ---------- */

.btn {  
  display: inline-block;
  height: 3em;
  padding: .625em 3em;
  border: none;
  border-radius: .25em;
  cursor: pointer;
  transition: color .4s, background-color .4s;
}

.btn-reset {
  color: var(--red-light);
  background-color: var(--red-medium);
}

.btn-reset:hover {
  background-color: var(--red);
}

.btn-reset:focus {
  box-shadow: 0 0 4px rgba(00,00,00,0.35);
}

/* ---------- Content ---------- */

.content {
  width: 100%;
  max-width: var(--contianer-width);
  margin: 0 auto;
}

.content__header {
  position: relative;
}

h1 {
  padding: 2.5rem 0;
  margin: 0;
  font-weight: 400;
	color: var(--white);
  text-align: center;
}

/* ---------- Radios ---------- */

.check {
  display: flex;
  align-items: center;
	justify-content: center;
  margin-bottom: 1em;
}

.check-title {
	display: flex;
	align-items: center;
  margin-right: .625em;
	line-height: 1;
}

.check-title > span {
  margin-left: .625em;
}

.check-section {
  display: flex;
  align-items: center;
}

.check label {
  display: inline-block;
  width: 60px;
  padding: 8px 12px;  
  text-align: center;  
  border: 2px solid var(--white);
  cursor: pointer;
  transition: all .4s;
}

.check label:hover {
	color: var(--blue);
  background: var(--white);
}

.check-section:nth-child(2) label {
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  border-right-width: 1px;
}

.check-section:nth-child(3) label {
	border-right: 0;
	border-left: 0;
}

.check-section:last-child label {
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  border-left-width: 1px;
}

.check-radio {
  display: none;
}

.check-radio:checked + label {
	color: var(--blue);
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(00,00,00,0.15);
  cursor: auto;
}

/* ---------- Calc ---------- */

.calc,
.calc__section{
  display: flex;
  flex-wrap: wrap;  
}

.calc,
.calc__section{
  align-items: center;
}

.calc {
  position: relative;
	justify-content: space-between;
  padding: 3em 1.25em 1.25em;
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: .25rem;
  opacity: .05;
  pointer-events: none;
  transition: opacity .4s;
}

.calc__section:nth-child(1),
.calc__section:nth-child(2){
  flex-direction: column;
	width: calc(50% - .625em);
}

.calc__section:nth-child(4) {
	justify-content: center;
  width: 100%;
  padding-top: 1.25em;
}

.input {
  -webkit-appearance: none;
  width: 100%;
  height: 3em;
	margin: 0.3125em 0;
  line-height: 3;
  text-align: center;
	color: var(--blue);
  border: 1px solid var(--grey-light);
  border-radius: .25rem;
}

#height { 
	color: var(--white);
  background-color: var(--blue);
  border-color: #526670;
}

/* ---------- Alert ---------- */

.alert {
  position: relative;
  width: 100%;
  padding: 1.25em;
  margin-top: 1.5em;
  font-size: .75em;  
  border-radius: .25rem;
}

.alert-danger {
	display: none;
  color: var(--red-medium);
  border: 1px solid var(--red-medium);  
}

.close-alert {
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  padding: 0;
  margin: 0;
  color: currentColor;
  background: transparent;
  border: none;
  cursor: pointer;
}

