<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Outil en ligne permettant de calculer le ratio 16:9 ou 4:3 à partir de la largeur connue.">
  <meta name="author" content="Cédric Beau">
  <title>Screen Ratio</title>

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#4cb2d4">
  <meta name="msapplication-TileColor" content="#4cb2d4">
  <meta name="theme-color" content="#ffffff">

  <script src="js/vue.min.js"></script>

  <link rel="manifest" href="manifest.json"></link>

  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  <div id="app">
    <!-- Consignes -->
    <link rel="stylesheet" href="css/consignes.min.css">
    <div class="consignes"
         v-bind:class="{ visible: isVisible }">
      <div class="consignes__content"
           v-if="isVisible">
        <h2 class="consignes__title">Consignes</h2>
        <ol class="consignes__list">
          <li v-for="instruction in instructions"
              :key="instruction.id">{{ instruction.value }}</li>
        </ol>
      </div>
      <button type="button"
              class="btn btn-consignes"
              v-bind:class="{ visible: isVisible }"
              v-on:click="toggleInstructions">
        <span class="icon-arrow-up2"></span>
      </button>
    </div>
    <!-- Content -->
    <div class="content"
         v-bind:class="{ visible: isVisible }">
      <div class="content__header">
        <h1>{{ title }}
          <span class="title-ratio">{{ ratio }}</span>
        </h1>
      </div>
      <div class="check">
        <div class="check-title">Sélectionner un ratio <span class="icon-arrow-right2"></span></div>
        <div class="check-section"
             v-for="(val, key) in ratios"
             :key="key">
             <input type="radio"
                    name="ratio"
                    :value="val"
                    :id="key"
                    class="check-radio"
                    :checked="ratio === 'val'"
                    @change="onChange($event.target.value)">
              <label :for="key">{{ val }}</label>
        </div>
      </div>
      <link rel="stylesheet" href="css/calc-box.min.css">
      <transition name="fade">
        <div class="calc"
            v-if="isDisplay">
          <div class="calc__section">
            <label for="width" class="label">Width (px)</label>
            <input type="text"
                  id="width"
                  class="input"
                  v-on:keyup="calcRatio">
          </div>
          <div class="calc__section">
            <span class="label">Height (px)</span>
            <span id="height" class="input input--height"></span>
          </div>
          <div class="alert alert-danger"
              v-if="hasError">Touche non valide. Veuillez séléctionner les touches de 0 à 9.
              <button class="close-alert reset"
                      type="button"
                      v-on:click="resetValue"></button>
          </div>
          <div class="calc__section action">
            <button type="button"
                    class="btn btn-reset reset"
                    v-on:click="resetValue">Reset</button>
          </div>
        </div>
      </transition>
      <!-- Footer -->
      <link rel="stylesheet" href="css/footer.min.css">
      <footer class="container">
        <div class="me">
          <script type="text/javascript">document.write(new Date().getFullYear());</script>
          - <span class="icon-embed2"></span> avec <span class="icon-heart"></span> par <a :href="links.site" :title="links.siteTitle">Cédric Beau</a>
        </div>
        <div class="github">
          <a :url="links.repo"
             :title="links.repoTitle">
            <span class="icon-github"></span>
          </a>
        </div>
      </footer>
    </div>
  </div>

  <script>
    //This is the "Offline page" service worker
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js', { scope: './' }).then(function(reg) {
        // registration worked
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function(error) {
        // registration failed
        console.log('Registration failed with ' + error);
      });
    };
  </script>

  <script src="sw.js" charset="utf-8"></script>
  <script src="manup.js" charset="utf-8"></script>
  <script src="js/app.js"></script>

</body>
</html>
